@import "../../../breakpoints/breakpoints.scss";
@import url("../../fonts/futura/futura.scss");

#grapple-guy-navbar{
    position: absolute;
    top:2vh;
    left:50%;
    transform: translate(-50%, 0);
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    @include media("<=desktop"){
        width: 95.99%;
    }
    @include media("<=laptop"){
        width: 95.94%;
    }
    .logo{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        gap:.8vw;
        color:black;
        .logo-placeholder{
            width: 5vw;
            height: 5vw;
            @include media("<=MDdesktop"){
                width:7vw;
                height: 7vw;
            }
            @include media("<=laptop"){
                width:8.5vw;
                height: 8.5vw;
            }
            background-color: #000000;
        }
        .logo-text-container{
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;
            gap:.25vh;
            h2{
                text-align: left;
                margin: 0;
                font-size: 1.7vw;
                line-height: 100%;
                font-family: 'Futura PT';
                @include media("<=MDdesktop"){
                    font-size: 2.4vw;
                }
                @include media("<=laptop"){
                    font-size: 3vw;
                }
            }
            span{
                display: block;
                font-size: .7vw;
                @include media("<=MDdesktop"){
                    font-size: 1.02vw;
                }
                @include media("<=laptop"){
                    font-size: 1.5vw;
                }
            }
        }
    }
}