$bglinear: linear-gradient(0deg, rgba(0, 0, 0, 0.09), rgba(0, 0, 0, 0.09)), #FFFFFF;
$bgdark: #242424;
$textlinear: linear-gradient(0deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), #000000;
$textdark: rgba(255, 255, 255, 0.87);