@font-face {
    font-family: 'Apple Emoji';
    src: url(AppleColorEmoji.ttf);
}

ae {
    font-family: 'Apple Emoji';
    font-size: inherit;
    color: inherit;
    background: transparent;
    -webkit-background-clip: initial;
    -webkit-text-fill-color: white;


}