@import './var/var.scss';
@import url('./assets/fonts/futura/futura.scss');
@import "./breakpoints/breakpoints.scss";


section.gg-product-page {
    position: relative;
    width: 100%;
    // height: 52vh;
    $marginLeft: 1.5vw;
    margin-top: 15vh;

    @include media('<=MDdesktop'){
        margin-top: 22vh;
    }

    @include media('<=laptop') {
        margin-top: 15vh;
    }

    .gg-product-section-page-container {
        display: flex;
    }

    .gg-product-page-image {
        position: relative;
        padding-right: 1.5vw;
        z-index: 1;

        img {
            width: 30vw;
            aspect-ratio: 561 / 639;
            clip-path: polygon(0 0, 100% 0, 100% calc(100% - 6vw), calc(100% - 6vw) 100%, 0 100%);

            @include media('<=LGlaptop') {
                width: 32vw;
            }
        }

        span {
            position: absolute;
            font-family: 'Libre Franklin';
            font-style: normal;
            font-weight: 800;
            font-size: 1.55vw;
            line-height: 153.5%;
            /* or 52px */

            color: $accent;

            transform: rotate(-45deg);
            z-index: 2;
            bottom: 2.3vw;
            right: 0.15vw;

            @include media('<=LGlaptop') {
                bottom: 3.0vw;
            }

        }

        padding-bottom: 1.5vh;

        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            bottom: 0;
            left: 0;
            z-index: 3;
            background: $bglinear;
            transition: calc($animspeed / 1.25) width, $animspeed height, $animspeed border-top-right-radius, $animspeed border-top-left-radius;
            transition-timing-function: ease-in-out;
            border-top-right-radius: 0%;
            border-top-left-radius: 0%;

        }

        &.show {
            &::before {
                width: 0;
            }
        }

    }

    .gg-product-page-title {
        position: relative;
        overflow: hidden;
        /* Added to contain floated elements */
        float: left;
        text-align: left;
        // margin-left: $marginLeft;
        transform: translateY(-12%);
        display: block;

        h2 {
            margin: 0;
            font-family: 'Futura PT';
            font-style: normal;
            font-weight: 700;
            font-size: 4.3vw;
            line-height: 100%;
            color: black;

            @include media('<=LGlaptop') {
                font-size: 4.2vw;
            }
        }

        ggred {
            position: relative;
            color: $accent !important;
        }

        .gg-product-red-bar {
            position: absolute;
            width: 47.55%;
            height: 0vh;
            background-color: $accent;
            bottom: 1.8vh;
            right: 0;
            transition: $animspeed height;

            &.show {
                height: 0.8vh;
            }

            @include media('<=MDdesktop') {
                bottom: 1.2vh;
            }

            @include media('<=desktop') {
                bottom: 1vh;
            }
            @include media('<=laptop') {
                bottom: 0.5vh;
            }
        }

        span {
            display: block;
            text-align: left;
            font-family: 'Libre Franklin';
            font-style: normal;
            font-weight: 400;
            font-size: 1.2vw;
            line-height: 100%;
            margin: 0;
            opacity: .5;
            background: $textlinear;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;


        }
    }

    p {
        // clear: both; /* Added to clear floats */
        text-align: left;
        font-family: 'Libre Franklin';
        font-style: normal;
        font-weight: 600;
        font-size: 2vw;
        line-height: 100%;
        margin: 0;
        transition: $animspeed line-height, $animspeed opacity;
        opacity: 0;
        background: $textlinear;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        &.show {
            line-height: 160%;
            opacity: 1;
        }
    }

}

section.gg-product-ingredients {
    margin-top: $sectionmargin;

    h2 {
        position: relative;
        width: fit-content;
        margin: 0;
        font-family: 'Futura PT';
        font-style: normal;
        font-weight: 700;
        font-size: 4.8vw;
        line-height: 100%;
        z-index: 0;
        color: black;

        &::before {
            content: '';
            position: absolute;
            width: 99%;
            height: 0.8vh;
            left: 50%;
            transform: translateX(-50%);
            bottom: -.4vh;
            background-color: $accent;
        }

        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: calc(100% + .4vh);
            background: $bglinear;
            transition: $animspeed width;
            z-index: 2;
            left: 0;
            bottom: -.4vh;
        }

        &.show {
            &::after {
                width: 0;
            }
        }
    }

    .gg-product-container {
        display: flex;
        flex-direction: row;
        margin-top: 3.5vh;
        align-items: flex-start;
        justify-content: flex-start;

        .gg-product-image-container {
            float: left;

            img {
                width: 31.927vw;
                height: auto;
                aspect-ratio: 1;
            }
        }

        .gg-product-body {
            position: relative;
            width: fit-content;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;
            height: 100%;
            padding-left: 2.4vw;

            span.gg-body {
                font-family: 'Libre Franklin';
                font-style: normal;
                font-weight: 600;
                font-size: 1.8vw;
                line-height: 153.5%;
                text-align: left;
                background: $textlinear;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                opacity: 0;
                transition: $animspeed opacity;

                &.show {
                    opacity: 1;
                }
            }

            .gg-product-body-bullet-container {
                width: 100%;
                margin-top: auto;

                @include media('<=desktop') {
                    .gg-line-container {
                        margin-top: 2vh;
                    }
                }

                .gg-product-body-bullets {
                    margin-top: 2vh;
                    display: grid;
                    grid-template-rows: repeat(2, 10fr);
                    /* Two rows with equal height */
                    grid-template-columns: repeat(3, 1fr);
                    /* Three columns with equal width */
                    gap: 3vh;
                    justify-content: left;
                    /* Gap between grid items */
                    opacity: 0;
                    transition: calc($animspeed / 2) opacity;

                    &.show {
                        opacity: 1;
                    }

                }
            }
        }
    }
}

section.gg-product-about {
    margin-top: $sectionmargin;

    .gg-product-about-title {
        position: relative;
        width: fit-content;

        h2 {
            width: fit-content;
            margin: 0;
            font-family: 'Futura PT';
            font-style: normal;
            font-weight: 700;
            font-size: 4.3vw;
            line-height: 100%;
            color: black;
            position: relative;
        }

        ggred {
            position: relative;
            color: $accent !important;
            line-height: 100%;

            &::before {
                content: "";
                position: absolute;
                bottom: 1.4vh;
                height: .7vh;
                left: 50%;
                transform: translateX(-50%);
                width: 97%;
                background: $accent;

                @include media('<=MDdesktop') {
                    bottom: 1vh;
                }

                @include media('<=desktop') {
                    bottom: .5vh;
                }

                @include media('<=LGlaptop') {
                    bottom: .25vh;
                }
            }
        }

        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: calc(100% + .4vh);
            background: $bglinear;
            transition: calc($animspeed / 1.2) width;
            z-index: 4;
            left: 0;
            bottom: -.4vh;
        }

        &.show {
            &::after {
                width: 0;
            }
        }
    }

    .gg-product-about-container {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: row;
        gap: 2vh;
        margin-top: 5.5vh;
    }

    .gg-product-about-image-frame {

        padding: 0 6vw;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        box-sizing: border-box;

        img {
            width: 20vw;
            height: auto;
        }

        img.main-gg {
            position: relative;
            transition: 750ms transform;

            &:hover {
                transform: scale(1.1);
            }

        }

        img.alt-gg {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            z-index: -1;
            transition: 700ms left, 700ms filter, 700ms transform;

            &.left,
            &.right {
                left: 50%;
                filter: blur(0);
            }
        }

        &.show {
            img.main-gg {
                transform: scale(1.08);

                &:hover {
                    transform: scale(1.1);
                }
            }

            img.alt-gg {
                &.left {
                    left: 28%;

                }

                &.right {
                    left: 72%;
                }

                &.left,
                &.right {
                    filter: blur(4px);
                    transform: translateX(-50%) scale(0.92);
                }
            }
        }
    }

    .gg-product-about-body {
        position: relative;

        h2 {
            width: fit-content;
            position: relative;
            font-family: 'Futura PT';
            font-style: normal;
            font-weight: 600;
            line-height: 100%;
            margin: 0;
            font-size: 3.6vw;
            text-align: left;

            .gg-product-about-accentline {
                position: absolute;
                height: .7vh;
                width: 170%;
                background-color: $accent;
                left: 0;

            }

        }

        p {
            text-align: left;
            font-family: 'Libre Franklin';
            font-style: normal;
            font-weight: 600;
            font-size: 1.615vw;
            line-height: 0%;
            opacity: 0;
            background: $textlinear;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin: 0;
            margin-top: 2.25vh;
            transition: 800ms line-height, 800ms opacity;

            &.show {
                line-height: 171.5%;
                opacity: 1;

                @include media('<=desktop') {
                    line-height: 220.5%;


                }
            }
        }

        .gg-prdouct-about-accentline-body {
            width: 100%;
            height: .7vh;
            background-color: $accent;
            opacity: .7;
            margin-top: 2.1vh;
        }

        .gg-product-about-bullet-container {
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            justify-content: space-between;
            position: relative;

            .gg-product-about-bullets {
                margin-top: 5vh;
                display: grid;
                grid-template-rows: repeat(4, 2fr);
                /* Two rows with equal height */
                grid-template-columns: repeat(2, 2fr);
                /* Three columns with equal width */
                gap: 5vh;
                /* Gap between grid items */
                justify-items: start;

                // width: 40%;
                @include media("<=desktop") {
                    gap: 4vh;
                }

                @include media("<=LGlaptop") {
                    gap: 2.1vh;
                }

                @include media("<=laptop") {
                    gap: 2vh;
                }


            }

            .gg-product-purchase {
                margin: 0;
                width: fit-content;
                margin-right: 5vh;
                margin-bottom: 4vh;

                @include media("<=desktop") {
                    margin-right: 0;
                    margin-bottom: 0vh;

                }

                img {
                    width: 5vw;
                }

                span {
                    font-size: 2vw;
                    opacity: .8;
                }
            }
        }
    }
}

section.gg-product-more-section {
    margin-top: $sectionmargin;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .gg-product-more-title {
        position: relative;

        h2 {
            font-family: 'Futura PT';
            font-style: normal;
            font-weight: 600;
            font-size: 4.55vw;
            line-height: 100%;
            margin: 0;
            text-align: left;

            ggred {
                position: relative;
                color: $accent !important;
                line-height: 100%;

                &::before {
                    content: "";
                    position: absolute;
                    bottom: 1vh;
                    height: .7vh;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 97%;
                    background: $accent;

                    @include media('<=desktop') {
                        bottom: .6vh;
                    }
                    @include media('<=LGlaptop'){
                        bottom: .0vh;
                    }
                }
            }
        }

        span {
            display: inline-block;
            font-family: 'Libre Franklin';
            font-style: normal;
            font-weight: 400;
            font-size: 1.3vw;
            background: $textlinear;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            opacity: .8;
            margin-top: 2vh;

            @include media('<=desktop') {
                margin-top: 1vh;
            }

        }

        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: calc(100% + 4vh);
            background: $bglinear;
            transition: $animspeed height;
            z-index: 2;
            left: 0;
            bottom: 0vh;
        }

        &.show {
            &::after {
                height: 0;
            }
        }
    }

    .gg-product-content {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        margin-top: 5vh;
        gap: 5.9vh;

        @include media('<=desktop') {
            gap: 7vh;
        }


        .gg-product-card {
            display: flex;
            gap: 3.8vh;
            position: relative;

            img.icon {
                width: 22.55vw;
                height: 22.55vw;
                aspect-ratio: 1;

                @include media('<=MDdesktop') {
                    width: 22.5vw;
                    height: 22.5vw;
                }
            }

            &._B {
                &::before {
                    content: '';
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    background: $bglinear;
                    transition: 925ms width;
                    z-index: 2;
                }

                &.show {
                    &::before {
                        width: 0;
                    }
                }
            }

            .gg-product-card-body {
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                flex-direction: column;
                text-align: left;
                padding-right: 7vw;
                position: relative;

                h2 {
                    font-family: 'Futura PT';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 3.8vw;
                    line-height: 100%;
                    margin: 0;

                    ggred {
                        position: relative;
                        color: $accent !important;
                        line-height: 100%;

                        &::before {
                            content: "";
                            position: absolute;
                            bottom: .4vh;
                            height: .7vh;
                            left: 50%;
                            transform: translateX(-50%);
                            width: 97%;
                            background: $accent;
                        }
                    }
                }

                span.gg-pc-span {
                    display: block;
                    font-family: 'Libre Franklin';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 2.95vh;
                    line-height: 184%;
                    background: $textlinear;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    opacity: .85;
                    margin-top: 1.8vh;

                    @include media('<=desktop') {
                        font-size: 2.75vh;
                    }

                    @include media("<=LGlaptop") {
                        font-size: 2.5vh;
                    }
                }

                .gg-product-purchase {
                    margin-top: auto;
                    margin-left: auto;
                }
            }
        }

    }
}

.gg-bullet {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .87vw;

    span {
        display: inline-block;
        position: relative;
        font-family: 'Libre Franklin';
        font-style: normal;
        font-weight: 500;
        font-size: 1.5vw;
        line-height: 100.0%;
        opacity: .7;
        text-align: left;
        @include media('<=desktop') {
            font-size: 1.4vw;
        }
    }

    .gg-bullet-block {
        width: 1.30vw;
        height: 1.3vw;
        aspect-ratio: 1;
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), #000000;
    }
}

.gg-product-purchase {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 1vh;
    margin-top: 2%;
    margin-left: 90%;
    cursor: pointer;
    transition: 900ms transform;

    img {
        width: 4vw;
        aspect-ratio: 77.25 / 80.25;
        filter: invert(99%) sepia(1%) saturate(2%) hue-rotate(170deg) brightness(40%) contrast(100%);
        transition: 850ms all;
        user-select: none;
    }

    span {
        color: $accent;
        font-weight: 700;
        font-size: 1.4vw;
        user-select: none;

    }

    &:hover {
        transform: scale(1.08);

        img {
            filter: invert(99%) sepia(1%) saturate(2%) hue-rotate(170deg) brightness(20%) contrast(100%);
        }
    }

    &:active {
        transform: scale(.9);
    }
}